In [1]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
a = "Hello World"

for a in a:
    print(a)

H
e
l
l
o

W
o
r
l
d

In [5]:
# 0,1,1,2,3,5,8,13
  a b a b

In [14]:
a = 0
b = 1
for i in range(1,11):
    c = a + b
    a = b
    b = c
    print(c)

1
2
3
5
8
13
21
34
55
89

In [8]:
a = 8

In [9]:
i

10

In [21]:
a = 10

while a > 0:
    print(a)
    a = a - 1

10
9
8
7
6
5
4
3
2
1

In [18]:
b = 1
print(b)
b = 2
print(b)

1
2

In [24]:
for i in range(1,21):
    if i == 15:
        continue
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20

In [6]:
for i in range(1,51):
    if i == 12:
        continue
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10
11
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [3]:
i = 1
while i <= 51:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51